
header{
  height: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  flex-wrap: wrap;
}
.header_icon{
  display: flex;
  align-items: center;
  
}
.header_icon img{
  width: 100px;
  margin-left: -100px;
  
}
.menu{
  display: none;
}

.header_nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #270873;
  width: 500px;
  border-radius: 30px;
  padding: 11px;
}
.header_nav a{
  text-decoration: none;
  font-family: ubuntu;
  font-size: 16px;
  color: #270873;
}

@media  screen  and (max-width:480px) {
  header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
 .header_icon img{
  width: 45px;
  margin-left: 0;
 }
 .menu{
  display: block;
  color: white;
  font-size: 35px;
 }
 
 
 .header_nav{
  display: none;
 }
}